<h1>Select Awesome News Sources</h1>
<hr class="hr">
<form id="sort-form" name="sort" action="/sort">
    <div class="form-group col-lg-4">
        <label for="select-sort">Sort</label>
        <select id="select-sort" class="form-control" (change)="onSortChange($event.target.value)" name="sort" [(ngModel)]="sort">
                        <option><a href="#">country</a></option>
                        <option><a href="#">category</a></option>
                        <option><a href="#">name</a></option>            
                    </select>
    </div>

    <div class="form-group col-lg-4">
        <label for="select-order">Order</label>
        <select id="select-order" class="form-control" (change)="onOrderChange($event.target.value)" name="order" [(ngModel)]="order">
                        <option><a href="#">Asc</a></option>
                        <option><a href="#">Desc</a></option>
                    </select>
    </div>
</form>

<div class="list-group">
    <form action="/select-media" method="POST" (ngSubmit)="updateUserWithSelectedSources()">
        <label class="list-group-item source-container source-container-main" *ngFor="let source of sources | sort: [sort, order]">
            <label for="{{source.id}}" class="source-container">
                <div class="panel source-container">             
                    <img class="label-img img-fluid" src={{source.urlsToLogos.small}} alt={{source.name}}>
                    <p class="list-group-item-text">{{source.description}}</p>
                    <br>
                    <p>Add {{source.name}} to receive awesome news</p>
                    <input type="checkbox" name="sources" value="{{source.name}}" id="{{source.id}}" (change)="onClicked(source, $event)">
                    <div class="text-right">
                        <span class="label label-default">{{source.category}}</span>
                        <span class="label label-default">{{source.country}}</span>
                    </div>
                    <a [routerLink]="['/source-details', source.id]">Read more about {{source.name}}</a>
                </div>
            </label>
        </label>
        <hr class="hr">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-lr" (click)="showSuccess()">Submit</button>
            <a class="btn btn-default" [routerLink]="['/home']">Check Latest News From Your Selected Sources</a>
        </div>
    </form>
</div>